<section class="sction">
<div class="columns is-multiline is-centered">


 




  <%@links.each do |link|%>
      <div class="column is-3 ml-2 ">
        <%=image_tag link,class: 'image', :width=>'300'%>
      </div>
  <%end%>


   




   
</div>    
       
     
    
</section>


 