@import "bootstrap-sprockets";
@import "bootstrap";
@import 'custom';
@import 'pages';
@import "bulma";


html {
  //position: relative;
  min-height: 100%;
}

body{
  min-height: 100vh;
  color: white;
  //background-image: linear-gradient(to top, #073947 0%, #005bea 100%);
  //background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  //background-image: linear-gradient(to top, #cbcdcf 0%, #6078ea 100%);
  // background-image: linear-gradient(159deg, #113167, #1b4c8d, #2469b4, #2d87dd);
//  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
background-color: #0abcf9;
background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
  font-family: sans-serif;
  //position: relative;
  //margin-bottom: 30px;
  //padding-bottom: 0;
}


.section-2{
  // margin-top: 300px;
  background-color: #fff;
  color: #113167;
 
}

.check-box{
  font-size: 60px;
}

.thumbs{
  font-size: 60px;
}

.video{
  font-size: 60px;
}

.osuume{
  padding-bottom: 70px;
}

footer{
    //position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    /* フッタの高さ */
    height: 50px;
    background-color: #faae2b;
    text-align: center;
    color: #f2f7f5;
    
}




.notification:not(:last-child){
  margin-bottom: 0;
}

a {
  color: white;
  text-decoration: none;
}

.title-logo{
  color: #18A8FD;
  font-size: 50px;
}

.button-custom{
  background-color:white;
  border: #18A8FD;
  color:#18A8FD;
  font-weight: bold;
}

.button-custom :hover{
  margin-top: 3px;
  color: #fff;
  background:#18A8FD;
  border-bottom: 2px solid #18A8FD;
}

.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.ratings .fa{
  font-size: 30px;
  color: #ffcc00;
  cursor: pointer;
}

.main-rating{
  display: flex;
}

.rating-value-display{
  font-size: 20px;
}

.image{
  margin-top: 45px;
}


.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

.pagination{
  padding-top: 50px;
  padding-bottom: 200px;
 
}
.pagination li a{
  background-color: #ffcc00;
}

/* 表示しているページ番号のデザイン */
 .pagination>.active>a {     
       /*背景の色を変える*/
   border-radius: 20px;
   background-color:#ECD070;
   /*角を丸くする*/
 }


/*ホバー時のデザイン*/
 .pagination>li>a:hover{        
   color: #000;
   border-radius: 20px;
   background:#ECD070;
 }





.movie-container{
  height: 100%;
}

.anime-container{
  height: 100%;
}
.user-container{
  height: 1000px;
}

.session-container{
  height: 1000px;
}
.comment-column{
  background-color: #ffcc00;
  margin:0 50px;
}


