<section class="sction mt-5">
<div class="columns is-multiline is-centered movie-container">

 <%@tests.each do |test|%>
  <%next if test.id%2==1%>
      <div class="column is-2 ml-2">
      <%=image_tag test.jmovie_url,class: 'image',:width=>'250'%>
      
      <%=image_tag test.test_url,class: 'image',:width=>'250'%>
      </div>
   <%end%>
 
</div>    
       
   
</section>
